@font-face {
	font-family: 'ffad_matroregular';
	src: url('font/ffad_matro-webfont.eot');
	src: url('font/ffad_matro-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/ffad_matro-webfont.woff2') format('woff2'),
		url('font/ffad_matro-webfont.woff') format('woff'),
		url('font/ffad_matro-webfont.ttf') format('truetype'),
		url('font/ffad_matro-webfont.svg#ffad_matroregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'ffad_matroregular';
	font-size: 4.2em;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.7em;
	font-weight: 600;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
}

h4 {
	background-color: #ffd331;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7em;
	font-weight: 800;
}

p {
	font-size: 1.7em;
	line-height: 1.3;
}

a {
	color: #f17;
}

em {
	font-weight: 800;
}

.small {
	font-size: 70%;
}

.bg-container {
	background: #f17 url('../assets/bg-m.png') no-repeat center 25%;
	height: 100vh;
	margin-bottom: 25px;
	position: relative;
}

.unicorn {
	bottom: 0;
	left: 0;
	position: absolute;
}

.cat {
	bottom: 0;
	right: 0;
	position: absolute;
}

.landing,
.content {
	position: relative;
}

.about,
.description,
.video,
.events,
.pictures,
.events-content {
	margin: 0 15px;
}

.header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.logo {
	height: 92px;
	margin-left: 20px;
	margin-top: 20px;
	width: 234px;
}

.desc {
	color: #fff;
	font-family: 'ffad_matroregular';
	font-size: 2.2em;
	margin-top: 17px;
	text-align: center;
}

.toggle,
.menuopen {
	height: 42px;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 42px;
	z-index: 99999;
}

.toggle {
	background-color: #20ed28;
	border-radius: 2px;
}

.menuopen {
	background-color: transparent;
}

.toggle span,
.menuopen span {
	display: block;
	height: 36px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 36px;
}

.toggle span {
	background: url('../assets/menuopen.svg') no-repeat;
}

.menuopen span {
	background: url('../assets/menuclose.svg') no-repeat;
}

.navigation {
	font-family: 'ffad_matroregular';
	position: relative;
	text-transform: uppercase;
}

.menu {
	background-color: #f17;
	display: none;
	height: 100vh;
	opacity: .9;
	padding-top: 80px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
}

.navigation li {
	line-height: 1.35;
}

.navigation a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.item-about {
	font-size: 5.5em;
	position: relative;
	text-align: center;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.item-description {
	font-size: 3.7em;
	position: relative;
	text-align: center;
}

.item-video {
	font-size: 5em;
	text-align: center;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

.item-events {
	font-size: 3.7em;
	position: relative;
	text-align: center;
}

.item-pictures {
	font-size: 4.2em;
	position: relative;
	text-align: center;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
}

.section {
	background-color: #fff;
	margin-bottom: 25px;
}

.close {
	display: none;
}

.video {
	height:
}

.imagefilm {
	height: 250px;
	width: 100%;
}

/*events*/

.close-event {
	display: block;
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 999999;
}

.close-event img {
	height: 42px;
	width: 42px;
}

.events-header {
	margin: 15px 15px 0 15px;
}

.event-img {
	margin-bottom: 22px;
	width: 100%;
}

.events-content {
	position: relative;
}

.back,
.next {
	display: block;
	position: absolute;
	z-index: 999999;
}

.back {
	left: 0;
	top: 0;
}

.next {
	right: 0;
	top: 0;
}


.back img,
.next img {
	height: 42px;
	width: 42px;
}

.head {
	color: #f17;
	margin-bottom: 35px;
	text-align: center;
}

.head span {
	color: #517;
}

.subhead {
	margin-bottom: 22px;
}

.subhead3 {
	margin-bottom: 12px;
}

.subhead4 {
	margin-bottom: 7px;
}

.text {
	margin-bottom: 17px;
}

@media (max-width: 599px) and (orientation:landscape) {

	.menu {
		padding-top: 72px;
	}

	.item-about {
		font-size: 4.2em;
	}

	.item-description {
		font-size: 2.5em;
	}

	.item-video {
		font-size: 3.3em;
	}

	.item-events {
		font-size: 2.5em;
	}

	.item-pictures {
		font-size: 3.7em;
	}
}

@media (min-width: 600px) {
	.bg-container {
		background: #f17 url('../assets/bg-m2.png') no-repeat center 25%;
	}

	.close-event img {
		height: 80px;
		width: 80px;
	}

	.back img,
	.next img {
		height: 100px;
		width: 100px;
	}

	.head {
		font-size: 8.7em;
		margin-bottom: 72px;
	}

	.subhead {
		font-size: 4.2em;
		margin-bottom: 42px;
	}

	.subhead3 {
		font-size: 2.7em;
		margin-bottom: 17px;
	}

	.imagefilm {
		height: 400px;
	}
}

@media (min-width: 950px) {

	.bg-container {
		background: #f17 url('../assets/bg.png') no-repeat center 25%;
		margin-bottom: 0;
		overflow-y: hidden;
	}

	.cat {
		right: 35%;
	}

	.header {
		-webkit-align-items: center;
		align-items: center;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		margin: 0 42px;
	}

	.about,
	.description,
	.video,
	.events,
	.pictures {
		margin-left: 0;
		margin-right: 0;
	}

	.logo {
		height: 181px;
		margin-top: 55px;
		margin-left: 0;
		width: 464px;
	}

	.desc {
		font-size: 3.5em;
		margin-top: 0;
		text-align: left;
	}

	.navigation {
		right: 42px;
		position: absolute;
		top: 320px;
	}

	.toggle {
		display: none;
	}

	.menu {
		background-color: transparent;
		display: block !important;
		height: auto;
		opacity: 1;
		padding-top: 0;
		position: relative;
		top: auto;
		width: auto;
	}

	.navigation li {
		line-height: 60px;
	}

	.navigation li::before,
	.navigation li::after {
		background: url('');
		content: ' ';
		display: none;
		height: 30px;
		width: 30px;
	}

	.navigation li::before {
		background: url('../assets/left.svg') no-repeat;
	}

	.navigation li::after {
		background: url('../assets/right.svg') no-repeat;
	}

	.item-about::before {
		left: -30px;
		position: absolute;
		top: 20px;
	}

	.item-about {
		text-align: left;
	}

	.item-about::after {
		right: 10px;
		position: absolute;
		top: 20px;
	}

	.item-description::before {
		left: 12px;
		position: absolute;
		top: 20px;
	}

	.item-description::after {
		right: 15px;
		position: absolute;
		top: 20px;
	}

	.item-video::before {
		left: 7px;
		position: absolute;
		top: 20px;
	}

	.item-video::after {
		right: 0;
		position: absolute;
		top: 20px;
	}

	.item-events::before {
		left: -33px;
		position: absolute;
		top: 20px;
	}

	.item-events::after {
		right: -35px;
		position: absolute;
		top: 20px;
	}

	.item-pictures::before {
		left: 10px;
		position: absolute;
		top: 20px;
	}

	.item-pictures::after {
		right: 5px;
		position: absolute;
		top: 20px;
	}

	.item-about:hover::before,
	.item-about:hover::after,
	.item-description:hover::before,
	.item-description:hover::after,
	.item-video:hover::before,
	.item-video:hover::after,
	.item-events:hover::before,
	.item-events:hover::after,
	.item-pictures:hover::before,
	.item-pictures:hover::after {
		display: block;
	}

	.section {
		border-radius: 2px;
		height: 360px;
		left: 42px;
		margin-bottom: 0;
		opacity: .9;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		top: -450px;
		width: 640px;
		z-index: 999;
	}

	.close {
		display: inline-block;
		height: 65px;
		position: absolute;
		left: 557px;
		top: 15px;
		width: 65px;
		z-index: 999999;
	}

	.about,
	.description,
	.video,
	.events,
	.pictures {
		display: none;
	}

	.video {
		opacity: 1;
		overflow-y: hidden;
	}

	.imagefilm {
		height: 100%;
	}

	.about:target,
	.description:target,
	.video:target,
	.events:target,
	.pictures:target {
		display: block;
	}

	.close:target {
		display: none;
	}

	.popup-heading {
		margin: 20px 0 20px 20px;
	}

	.popup-paragraph {
		margin-left: 20px;
		width: 535px;
	}

	.text:last-child {
		margin-bottom: 0;
	}

	/*events*/

	.close-event {
		right: 42px;
		top: 42px;
	}

	.event-img {
		margin-bottom: 60px;
	}
}

@media (min-width: 1200px) {

	.unicorn {
		left: 10%;
	}

	.landing,
	.content,
	.events-header,
	.events-content {
		margin: 0 auto;
		width: 940px;
	}

	.header {
		margin: 0 0;
	}

	.navigation {
		right: 0;
	}

	.section {
		left: 0;
	}

	/*events*/

	.event-img {
		margin-top: 42px;
	}
}

@media (min-width: 1400px) {

	.unicorn {
		left: 15%;
	}

	.cat {
		right: 40%;
	}
}

@media (min-width: 1800px) {

	.unicorn {
		left: 22%;
	}

	.cat {
		right: 42%;
	}
}
