html {
  font-size: 62.5%;
}

body {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: #111;
  text-decoration: none;
}

strong,
.strong {
  font-weight: 700;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  background: url(../assets/leq-bg.jpg) center center no-repeat;
  background-size: cover;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.logo {
  height:142px;
  margin-left: 20px;
  margin-top: 20px;
  width:170px;
}

.info {
  font-size: 2.2em;
  margin: 40px auto 0;
  text-align: center;
}

.info a {
  background-color: #f58a6f;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 3px;
}

.coming-soon {
  background-color: #fab44d;
  height: 150px;
}

.message {
  color: #fff;
  font-size: 7em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: #fff;
  height: 70px;
}

.footer-info{
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  line-height: 70px;
  margin-left: 20px;
}

.villa-logo {
  height: 56px;
  width: 60px;
}

.owner {
  font-size: 1.5em;
  margin-left: 17px;
}

@media (min-width: 600px) {
  .logo {
    height: 210px;
    margin-left: 40px;
    margin-top: 40px;
    width: 250px;
  }

  .info {
    font-size: 2.2em;
    margin-left: 40px;
    margin-top: 70px;
    text-align: left;
  }

  .message {
    line-height: 150px;
  }
}

@media (min-width: 900px) {
  .logo {
    height: 268px;
    width: 320px;
  }

  .info a {
    background-color: transparent;
    border-bottom: 3px solid #f58a6f;
    border-radius: 0;
    padding: 0;
  }

  .info {
    font-size: 2.9em;
    margin-top: 90px;
  }

  .message {
    font-size: 10em;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin-left: 70px;
    margin-top: 70px;
  }

  .info {
    margin-left: 70px;
  }

  .coming-soon {
    height: 200px;
  }

  .message {
    font-size: 14em;
    line-height: 200px;
  }

  .footer {
    height: 90px;
  }

  .footer-info {
    line-height: 90px;
    margin-left: 70px;
  }

  .villa-logo {
    height: 71px;
    width: 76px;
  }

  .owner {
    font-size: 1.7em;
    margin-left: 35px;
  }

}
