/*-------B A S I C  T Y P O -------*/

html {
	font-size: 62.5%;
}

body {
  color: #070707;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7em;
  font-weight: 800;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.3;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.3;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
}

p {
  font-size: 1.7em;
}

em {
  font-weight: 700;
}

strong,
.strong {
  font-weight: 600;
}

quote {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.3;
}

a {
  color: #070707;
  text-decoration: none;
}

.side-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
}

.side-text-small {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}

/*-------H E A D E R / L A N D I N G / F O O T E R -------*/

/*header*/
.header {
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  opacity: .97;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 10;
}

.up {
  top: -50px;
}

.branding {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 9999;
}

.logo {
  display: none;
}

.logo-small {
  margin-left: 15px;
}

/*menu*/
.main-menu {
  margin-right: 15px;
}

.toggle,
.menuopen span::before,
.menuopen span::after {
  z-index: 999;
}

.toggle span,
.menuopen span {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  height: 7px;
  position: relative;
}

.menuopen span {
  width: 44px;
}

.toggle span {
  background-color: #070707;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
  width: 37px;
}

.toggle span::before,
.toggle span::after {
  background-color: #070707;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 7px;
  position: absolute;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  width: 37px;
}

.toggle span::before {
  top: -13px;
}

.toggle span::after {
  bottom: -13px;
}

.menuopen span {
  background-color: transparent;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
}

.menuopen span::before,
.menuopen span::after {
  background-color: #070707;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 7px;
  position: absolute;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  width: 44px;
}

.menuopen span::before {
  -webkit-transform: translateY(13px) rotateZ(45deg);
  -moz-transform: translateY(13px) rotateZ(45deg);
  -ms-transform: translateY(13px) rotateZ(45deg);
  -o-transform: translateY(13px) rotateZ(45deg);
  transform: translateY(13px) rotateZ(45deg);
}

.menuopen span::after {
  -webkit-transform: translateY(-13px) rotateZ(-45deg);
  -moz-transform: translateY(-13px) rotateZ(-45deg);
  -ms-transform: translateY(-13px) rotateZ(-45deg);
  -o-transform: translateY(-13px) rotateZ(-45deg);
  transform: translateY(-13px) rotateZ(-45deg);
}

.menu {
  background-color: #fff;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu li {
  margin-bottom: 27px;
  margin-top: 27px;
}

.menu li:first-child {
  margin-top: 42%;
}

.menuitem {
  font-size: 2.2em;
  text-transform: uppercase;
}

/*landing section*/
.landing {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
  z-index: 1;
}

/*game*/
.game {
  height: 70%;
  margin-top: 15px;
  position: relative;
  width: 100%;
}

.play {
  color: #5f6061;
  display: inline-block;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.2em;
  position: absolute;
  right: 30px;
  text-align: right;
  top: -7px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.elements {
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.row {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

.row-1,
.row-3 {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.row-2 {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.element {
  margin: 10px;
}

.element-1 {
  border-bottom: 58px solid #07a0c8;
  border-right: 88px solid transparent;
  height: 0;
  width: 0;
}

.element-2 {
  background-color: #07a0c8;
  height: 29px;
  width: 32px;
}

.element-3 {
  background-color: #07a0c8;
  height: 19px;
  width: 69px;
}

.element-4 {
  background-color: #07a0c8;
  height: 29px;
  width: 81px;
}

.element-5 {
  background-color: #07a0c8;
  height: 62px;
  position: relative;
  width: 70px;
}

.element-5::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 9px;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  right: 9px;
  width: 30px;
}

.element-6 {
  border-bottom: 58px solid #07a0c8;
  border-left: 88px solid transparent;
  height: 0;
  width: 0;
}

.element-7 {
  background-color: #07a0c8;
  height: 81px;
  width: 25px;
}

.element-8 {
  background-color: #07a0c8;
  height: 29px;
  width: 34px;
}

.element-9 {
  background-color: #07a0c8;
  height: 81px;
  width: 81px;
}

.draggable {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
/*/game*/

.cta-landing {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.scroll-down {
  background-color: #070707;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 34px;
  margin-bottom: 10px;
  position: relative;
  width: 34px;
}

.scroll-down::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

/*uvp section*/
.uvp {
  margin: 0 15px 90px;
  padding-top: 80px;
}

.uvp-text {
  font-weight: 600;
  line-height: 1.3;
}

.triangle,
.square,
.circle {
  margin: 42px auto 42px;
}

.triangle {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #07a0c8;
  height: 0;
  width: 0;
}

.square {
  background-color: #07a0c8;
  height: 37px;
  width: 37px;
}

.circle {
  background-color: #07a0c8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;  height: 40px;
  width: 40px;
}

/*cta*/
.cta-projects {
  text-align: center;
}

.cta-projects a {
  text-transform: uppercase;
}

.go span {
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0 auto 17px;
  position: relative;
  width: 30px;
}

.go span::before,
.go span::after {
  background-color: #070707;
  content: '';
  display: block;
  height: 21px;
  position: absolute;
  width: 7px;
}

.go span::before {
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.go span::after {
  right: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*footer*/
.footer {
  margin: 70px 10px 17px;
  position: relative;
  text-align: center;
}

.top {
  position: absolute;
  right: 15px;
  top: 9px;
}

.top span {
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  width: 30px;
}

.top span::before,
.top span::after {
  background-color: #b9bbbe;
  content: '';
  display: block;
  height: 21px;
  position: absolute;
  width: 3px;
}

.top span::before {
  left: 7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top span::after {
  right: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social {
  margin-bottom: 17px;
}

/*-------G A L L E R Y -------*/

.page-wrap {
  margin: 0 15px;
  padding-top: 90px;
}

.projects {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.project {
  margin-bottom: 35px;
  position: relative;
}

.project a {
  display: block;
}

.thumbnail {
  height: 200px;
  margin-bottom: 17px;
  overflow: hidden;
  width: 100%;
}

.thumbnail img {
  height: auto;
  width: 100%;
}

.project-short-title,
.project-short {
  margin-left: 27px;
}

.project-short-title::before {
  background-color: #e6e6e6;
  content: '';
  display: block;
  height: 70px;
  left: 6px;
  position: absolute;
  top: 187px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
  width: 12px;
}

.project-short-title {
  margin-bottom: 5px;
}

.download {
  background-color: #070707;
  height: 22px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 44px;
}

.download a {
  color: #fff;
  display: block;
  height: 100%;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*-------P R O J E C T-------*/
/*nav-top*/
.nav-top {
  margin-bottom: 12px;
}

.nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-item a {
  display: -webkit-flex;
  display: flex;
}

.nav-top-item a {
  color: #5f6061;
}

.nav-item span {
  display: block;
}

.prev,
.next {
  height: 30px;
  margin-top: -10px;
  position: relative;
  width: 20px;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 7px;
}

.top-prev::before,
.top-prev::after,
.top-next::before,
.top-next::after {
  background-color: #5f6061;
}

.prev::before,
.next::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.prev::after,
.next::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prev::before,
.prev::after {
  left: 6px;
}

.next::before,
.next::after {
  right: 6px;
}

.prev::after,
.next::after {
  bottom: 0;
}

.image {
  overflow: hidden;
  width: 100%;
}

.image img {
  height: auto;
  width: 100%;
}

.project-image {
  margin-bottom: 30px;
}

.project-image:last-child {
  margin-bottom: 0;
}

.plan {
  border: 1px solid #b9bbbe;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project-description {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 42px;
  margin-top: 30px;
}

.main-title {
  margin-bottom: 10px;
}

.text {
  line-height: 1.5;
}

.project-download {
  border-bottom: 2px solid #070707;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 20px 0 30px;
}

.additional {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}

.project-side {
  margin-bottom: 30px;
  margin-right: 20px;
}

.map {
  border: 17px solid #b9bbbe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 231px;
  margin: 0 auto;
  overflow: hidden;
  width: 231px;
}

.add-quote {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.quote-left::before {
  background: url(../assets/quote.svg) no-repeat;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  margin-bottom: 3px;
  position: relative;
  top: 0;
  width: 23px;
}

.quote {
  margin-bottom: 30px;
}

/*nav-bottom*/
.nav-bottom {
  margin-top: 35px;
}

.bottom-prev::before,
.bottom-prev::after,
.bottom-next::before,
.bottom-next::after {
  background-color: #070707;
}

/*-------B L O G-------*/
.blog {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.blogposts {
  margin-bottom: 70px;
}

.post {
  margin-bottom: 50px;
}

.post:last-child {
  margin-bottom: 0;
}

.date-publish {
  background-color: #070707;
  height: 64px;
  position: absolute;
  width: 38px;
}

.date {
  color: #fafafa;
  left: 10px;
  line-height: 1.3;
  position: absolute;
  top: 7px;
}

.author {
  margin-bottom: 15px;
  margin-top: 10px;
}

.latest,
.searchbar {
  margin-bottom: 70px;
}

.sidebar-title {
  margin-bottom: 30px;
}

.post-xshort {
  margin-bottom: 25px;
}

.post-xshort:last-child {
  margin-bottom: 0;
}

.date-side {
  background-color: #070707;
  color: #fafafa;
  display: inline-block;
  margin-bottom: 2px;
  padding: 1px;
}

.main-title-side {
  margin-bottom: 3px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

input {
  border-bottom: 17px solid #b9bbbe;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  height: 42px;
  padding: 0 0 0 10px;
  width: 100%;
}

input:focus {
  border-bottom-color: #07a0c8;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b9bbbe;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #b9bbbe;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #b9bbbe;
}

:-moz-placeholder { /* Firefox 18- */
  color: #b9bbbe;
}

/*input:required:invalid {
  border-bottom-color: #ff1159;
}*/

button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

button::after,
.older-posts::after {
  background-color: #070707;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}

button:focus {
  outline: none;
}

.older-posts-list {
  margin-bottom: 15px;
}

.older-posts-list a {
  text-decoration: underline;
}

.older-posts {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

/*-------C O N T A C T-------*/
.contact,
.location {
  margin-bottom: 90px;
}

.contact-info,
.location-info,
.about-info {
  margin-bottom: 50px;
}

.contact-details li:first-child {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

.contact-details li:first-child::after {
  background-color: #070707;
  bottom: -2px;
  content: '';
  display: inline-block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.contact-details a {
  font-size: 1.7em;
  font-weight: 600;
}

.contact-form input {
  margin-bottom: 30px;
}

textarea {
  border: 17px solid #b9bbbe;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  height: 180px;
  padding: 10px;
  width: 100%;
}

textarea:focus {
  border-color: #07a0c8;
  outline: none;
}

/*textarea:required:invalid {
  border-bottom-color: #ff1159;
}*/

.company {
  margin-bottom: 4px;
}

.location-details p,
.people-intro {
  line-height: 1.4;
}

.mi-people li:first-child {
  margin-bottom: 50px;
}

.people-image {
  border: 17px solid #b9bbbe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 136px;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 136px;
}

.people-title {
  margin-bottom: 7px;
  text-align: center;
}

.people-intro {
  text-align: center;
}

@media (min-width: 600px) {
  /*-------H E A D E R / L A N D I N G / F O O T E R 600-------*/

  /*header600*/
  /*game600*/
  .game {
    margin-top: 25px;
  }

  .element-1 {
    border-bottom-width: 97px;
    border-right-width: 148px;
  }

  .element-2 {
    height: 48px;
    width: 53px;
  }

  .element-3 {
    height: 32px;
    width: 116px;
  }

  .element-4 {
    height: 48px;
    width: 136px;
  }

  .element-5 {
    height: 105px;
    width: 117px;
  }

  .element-5::after {
    bottom: 15px;
    height: 49px;
    right: 15px;
    width: 49px;
  }

  .element-6 {
    border-bottom-width: 97px;
    border-left-width: 148px;
  }

  .element-7 {
    height: 137px;
    width: 42px;
  }

  .element-8 {
    height: 48px;
    width: 57px;
  }

  .element-9 {
    height: 136px;
    width: 136px;
  }
  /*/game600*/

  /*uvp section600*/
  .uvp {
    text-align: center;
  }

  /*-------G A L L E R Y 600-------*/

  .projects {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .projects::after {
    content: '';
    height: 0;
    width: calc(100%/2);
  }

  .project {
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  .thumbnail img {
    min-width: 265px;
  }

  /*-------P R O J E C T600-------*/

  .additional {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .map {
    margin: 0;
  }

  .add-quote {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .portrait {
    -webkit-flex: 1 1;
    flex: 1 1;
    max-height: 50%;
    max-width: 50%;
  }

  .quote {
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
  }

  .quote-left {
    margin-left: 20px;
  }

  /*------B L O G600-------*/

  .sidebar {
    display: -webkit-flex;
    display: flex;
  }

  .latest,
  .searchbar,
  .archives {
    -webkit-flex: 1 1;
    flex: 1 1;
  }

  .latest,
  .searchbar {
    margin-right: 30px;
  }

  /*-------C O N T A C T 600-------*/

  .location,
  .mi-people {
    display: -webkit-flex;
    display: flex;
  }

  .location-info {
    margin-right: 20px;
  }

  .mi-people li:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {

  .menu li:first-child {
    margin-top: 70px;
  }

  .play,
  .elements {
    display: none;
  }

  .game::after {
    color: #07a0c8;
    content: 'Fordítsd el a képernyőt, és játssz!';
    display: block;
    font-size: 1.7em;
    margin: 25px auto 0;
    text-align: center;
  }
}

@media (min-width: 900px) {
  /*-------H E A D E R / L A N D I N G / F O O T E R 900-------*/

  .header {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .header-narrow,
  .header-narrow-pages {
    height: 50px;
  }

  .logo-small {
    margin-left: 25px;
  }

  .header-narrow-pages .logo-small {
    display: block;
    margin-bottom: 5px;
  }

  /*menu900*/
  .toggle {
    display: none;
  }

  .main-menu {
    margin-bottom: 7px;
    margin-right: 25px;
  }

  .menu {
    -webkit-align-items: center;
    align-items: center;
    background-color: transparent;
    display: -webkit-flex !important;
    display: flex !important;
    height: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: static;
    width: auto;
  }

  .menu li {
    margin-bottom: 0;
    margin-right: 42px;
    margin-top: 0;
    position: relative;
  }

  .menu li:first-child {
    margin-top: 0;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu li::after {
    background-color: #070707;
    bottom: -7px;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }

  .menuitem {
    font-size: 1.3em;
  }

  /*game900*/
  .game {
    margin-top: 0;
  }

  .play {
    font-size: 3.7em;
    left: 50px;
    right: auto;
    top: 100px;
  }

  .elements {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .element {
    margin: 20px 50px;
  }
  /*/game900*/

  .scroll-down {
    height: 62px;
    width: 62px;
  }

  .scroll-down::after {
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
  }

  /*uvp section900*/
  .uvp {
    margin: 0 25px 180px;
  }

  .triangle,
  .square,
  .circle {
    margin: 90px auto 90px;
  }

  .triangle {
    border-left-width: 50px;
    border-right-width: 50px;
    border-top-width: 34px;
  }

  .square {
    height: 60px;
    width: 60px;
  }

  .circle {
    height: 64px;
    width: 64px;
  }

  .uvp-title {
    font-size: 10.7em;
  }

  .uvp-text {
    font-size: 2.7em;
  }

  .main {
    font-size: 3.7em;
  }

  /*cta section900*/
  .go span {
    height: 44px;
    margin: 0 auto 27px;
    width: 64px;
  }

  .go span::before,
  .go span::after {
    height: 44px;
    width: 17px;
  }

  .go span::before {
    left: 14px;
  }

  .go span::after {
    right: 14px;
  }

  .cta-projects {
    font-size: 4.7em;
  }

  /*footer900*/
  .top {
    right: 15px;
    top: -110px;
  }

  .top span {
    margin: 0 0 0;
  }

  .top span::before,
  .top span::after {
    width: 7px;
  }

  .top span::before {
    left: 6px;
  }

  .top span::after {
    right: 6px;
  }

  /*-------G A L L E R Y 900-------*/

  .page-wrap {
    margin-left: 25px;
    margin-right: 25px;
  }

  .gallery-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .project {
    margin-left: 10px;
    margin-right: 10px;
  }

  .add-one::after {
    width: calc(100%/3);
  }

  .add-two::after {
    width: calc(2*100%/3);
  }

  /*-------P R O J E C T 900-------*/

  .project-description {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 70px;
    margin-top: 90px;
  }

  .project-main {
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-right: 115px;
  }

  .main-title {
    font-size: 3.7em;
    margin-bottom: 60px;
  }

  .project-download {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .additional {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .project-side {
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 17px;
  }

  .quote {
    font-size: 2.9em;
    margin-top: 50px;
  }

  /*------B L O G900-------*/

  .blog {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .blogposts {
    margin-bottom: 120px;
    margin-right: 20px;
    max-width: 70%;
  }

  .sidebar {
    display: block;
    max-width: 265px;
  }

  .latest,
  .searchbar {
    margin-right: 0;
  }

  /*-------C O N T A C T 900-------*/

  .contact,
  .about,
  .contact-info,
  .location-info,
  .about-info {
    display: -webkit-flex;
    display: flex;
  }

  .contact,
  .about {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .contact,
  .location {
    margin-bottom: 150px;
  }

  .contact-info,
  .contact-form,
  .location-info,
  .contact-map,
  .about-info,
  .mi-people {
    -webkit-flex: 1 1;
    flex: 1 1;
    max-width: 550px;
  }

  .contact-info,
  .location-info,
  .about-info {
    margin-bottom: 0;
    margin-right: 10px;
    position: relative;
  }

  .contact-title,
  .location-title,
  .about-title {
    -webkit-flex: 1 1;
    flex: 1 1;
    max-width: 50%;
  }

  .contact-details,
  .location-details,
  .about-details {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-flex: 1 1;
    flex: 1 1;
    max-width: 50%;
  }

  .contact-details {
    margin-top: 188px;
  }

  .contact-form input {
    margin-bottom: 60px;
  }

  .location {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .location-details {
    margin-top: 130px;
  }

  .company,
  .location-details p {
    width: 150px;
  }

  .about-details {
    margin-top: 130px;
  }

  .mi-people {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .mi-people li {
    -webkit-flex: 1 1;
    flex: 1 1;
    max-width: 170px;
  }

  .mi-people li:first-child {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  /*-------H E A D E R / L A N D I N G / F O O T E R 1200-------*/

  /*header1200*/
  .header-full {
    -webkit-align-items: center;
    align-items: center;
    height: 130px;
  }

  .logo {
    display: block;
    margin-left: 25px;
  }

  .logo-main {
    height: 120px;
    width: 99px;
  }

  .logo-main-small {
    height: 40px;
    margin-bottom: 5px;
    width: 42px;
  }

  .logo-small {
    display: none;
  }

  .logo-transform {
    -webkit-transition: width .1s, height .1s, margin-bottom .1s, -webkit-transform .1s, src 2s;
    transition: width .1s, height .1s, margin-bottom .1s, transform .1s, src 2s;
  }

  /*landing-section1200*/
  .landing {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 130px;
    position: relative;
  }

  /*game1200*/
  .game {
    height: 400px;
    margin: 25px auto 0;
    width: 620px;
  }

  .play {
    left: -110px;
  }

  .elements {
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .element {
    margin: 0;
  }
  /*/game1200*/

  .cta-landing {
    position: relative;
  }

  .cta-title {
    bottom: 0;
    left: -285px;
    position: absolute;
  }

  .scroll-down {
    bottom: 35px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -31px;
    position: relative;
  }

  /*uvp section1200*/
  /*GRID*/
  .uvp {
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: inherit;
    width: 1120px;
  }

  .uvp-item {
    -ms-grid-column-align: center;
    align-self: center;
    margin-bottom: 0;
    position: relative;
  }

  .uvp-item::after {
    background-color: #e6e6e6;
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    z-index: -10;
  }

  .who-we-are {
    grid-column: 1;
    grid-row: 1;
  }

  .who-we-are::after {
    height: 727px;
    left: 491px;
    top: -291px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  .uvp div:nth-child(1),
  .uvp div:nth-child(3) {
    text-align: right;
  }

  .triangle,
  .square,
  .circle {
    position: absolute;
  }

  .triangle {
    left: -300px;
    margin: -17px 0 0;
    top: 50%;
  }

  .what-we-do {
    grid-column: 2;
    grid-row: 2;
  }

  .what-we-do::after {
    height: 487px;
    left: -15px;
    top: 34px;
    -webkit-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
    -ms-transform: rotate(-29deg);
    -o-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .square {
    margin: -30px 0 0;
    right: -300px;
    top: 50%;
  }

  .tools {
    grid-column: 1;
    grid-row: 3;
  }

  .tools::after {
    height: 470px;
    left: 549px;
    top: 105px;
    -webkit-transform: rotate(29deg);
    -moz-transform: rotate(29deg);
    -ms-transform: rotate(29deg);
    -o-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .circle {
    left: -300px;
    margin: -32px 0 0;
    top: 50%;
  }

  .why-us {
    grid-column: 2;
    grid-row: 4;
  }

  .why-us::after {
    height: 487px;
    left: -64px;
    top: 98px;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }

  /*footer1200*/
  .footer {
    margin: 190px auto 27px;
    width: 1200px;
  }

  .top {
    top: -225px;
  }

  .social {
    margin-bottom: 35px;
  }

  /*-------G A L L E R Y 1200-------*/

  .page-wrap {
    margin: 0 auto;
    padding-top: 130px;
    width: 1120px;
  }

  .add-one::after,
  .add-two::after {
    display: none;
  }

  .project {
    -webkit-flex: none;
    flex: none;
    margin-left: 0;
    margin-right: 20px;
  }

  .project:nth-child(4n) {
    margin-right: 0;
  }

  .thumbnail {
    width: 265px;
  }

  .thumbnail img {
    max-width: none;
  }

  /*-------P R O J E C T 1200-------*/
  /*nav-top1200*/
  .top-prev,
  .top-next {
    width: 30px;
  }

  .landscape {
    max-height: 630px;
    max-width: 1120px;
  }

  .plan {
    max-height: 747px;
    max-width: 1120px;
  }

  .project-main {
    margin-right: 20px;
  }

  .additional {
    -webkit-flex: 1 1;
    flex: 1 1;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .project-side {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .quote {
    font-size: 3.7em;
    max-width: 455px;
  }

  .quote-left::before {
    left: -42px;
    margin-bottom: 0;
    top: 22px;
  }

  .quote-left {
    margin-left: 115px;
  }

  /*nav-bottom1200*/
  .nav-bottom {
    margin-top: 110px;
  }

  .nav-bottom-item {
    font-size: 1.7em;
  }

  .bottom-prev,
  .bottom-next {
    height: 57px;
    margin-top: -21px;
    width: 50px;
  }

  .bottom-prev::before,
  .bottom-prev::after,
  .bottom-next::before,
  .bottom-next::after {
    height: 38px;
    width: 12px;
  }

  .bottom-prev::before,
  .bottom-prev::after {
    left: 12px;
  }

  .bottom-next::before,
  .bottom-next::after {
    right: 12px;
  }

  /*-------B L O G1200-------*/

  .blogposts {
    margin-bottom: 0;
    margin-left: 190px;
    margin-right: 0;
    max-width: 550px;
  }

  .post {
    margin-bottom: 120px;
    position: relative;
  }

  .date-publish {
    left: -190px;
    top: 10px;
  }

  .blog-image {
    margin-left: -190px;
    width: auto;
  }

  .author {
    left: -190px;
    margin: 0;
    position: relative;
    top: 35px;
  }

  .excerpt {
    margin-top: 12px;
  }

  /*-------C O N T A C T1200-------*/

  .contact-info::after,
  .location-info::after,
  .about-info::after {
    background: url('../assets/arrow.svg');
    content: '';
    display: block;
    height: 65px;
    position: absolute;
    right: 0;
    width: 287px;
  }

  .contact-info::after {
    top: 88px;
  }

  .location-info::after,
  .about-info::after {
    top: 30px;
  }

  .contact-form form {
    margin-top: 58px;
  }

  .location-title {
    margin-top: -8px;
  }

  .about-title {
    margin-top: 40px;
  }

  .contact-info,
  .about-info {
    margin-right: 0;
  }

  .location-info {
    margin-right: 20px;
  }
}

@media (min-width: 1800px) {

  /*header1800*/
  /*landing section1800*/
  /*game1800*/
  /*uvp section1800*/
  /*cta1800*/
  /*footer1800*/

}
