/*-------B A S I C  T Y P O -------*/

html {
	font-size: 62.5%;
}

body {
  color: #070707;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7em;
  font-weight: 800;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  line-height: 1.3;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3;
}

p {
  font-size: 1.7em;
}

em {
  font-weight: 700;
}

strong {
  font-weight: 600;
}

quote {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.3;
}

a {
  color: #070707;
  text-decoration: none;
}

.side-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
}

.side-text-small {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}

/*-------H E A D E R / L A N D I N G / F O O T E R -------*/

/*header*/
.header {
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 10;
}

.branding {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 9999;
}

.logo {
  display: none;
}

.logo-small {
  margin-left: 15px;
}

/*menu*/
.main-menu {
  margin-right: 15px;
}

.toggle,
.menuopen span::before,
.menuopen span::after {
  z-index: 999;
}

.toggle span,
.menuopen span {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  height: 7px;
  position: relative;
}

.menuopen span {
  width: 44px;
}

.toggle span {
  background-color: #070707;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
  width: 37px;
}

.toggle span::before,
.toggle span::after {
  background-color: #070707;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 7px;
  position: absolute;
  width: 37px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
}

.toggle span::before {
  top: -13px;
}

.toggle span::after {
  bottom: -13px;
}

.menuopen span {
  background-color: transparent;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
}

.menuopen span::before,
.menuopen span::after {
  background-color: #070707;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 7px;
  position: absolute;
  width: 44px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
}

.menuopen span::before {
  -webkit-transform: translateY(13px) rotateZ(45deg);
  -moz-transform: translateY(13px) rotateZ(45deg);
  -ms-transform: translateY(13px) rotateZ(45deg);
  -o-transform: translateY(13px) rotateZ(45deg);
  transform: translateY(13px) rotateZ(45deg);
}

.menuopen span::after {
  -webkit-transform: translateY(-13px) rotateZ(-45deg);
  -moz-transform: translateY(-13px) rotateZ(-45deg);
  -ms-transform: translateY(-13px) rotateZ(-45deg);
  -o-transform: translateY(-13px) rotateZ(-45deg);
  transform: translateY(-13px) rotateZ(-45deg);
}

.menu {
  background-color: #fff;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu li {
  margin-bottom: 27px;
  margin-top: 27px;
}

.menu li:first-child {
  margin-top: 42%;
}

.menuitem {
  font-size: 2.2em;
  text-transform: uppercase;
}

/*landing section*/
.landing {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
  z-index: 1;
}

/*game*/
.game {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 70%;
  margin-top: 7%;
  position: relative;
  width: 100%;
}

.play {
  color: #5f6061;
  display: inline-block;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.2em;
  position: absolute;
  right: 30px;
  text-align: right;
  top: -7px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  z-index: 9;
}

.elements {
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.row {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

.row-1,
.row-3 {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.row-2 {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.element {
  margin: 10px;
}

.element-1 {
  border-bottom: 58px solid #07a0c8;
  border-right: 88px solid transparent;
  height: 0;
  width: 0;
}

.element-2 {
  background-color: #07a0c8;
  height: 29px;
  width: 32px;
}

.element-3 {
  background-color: #07a0c8;
  height: 19px;
  width: 69px;
}

.element-4 {
  background-color: #07a0c8;
  height: 29px;
  width: 81px;
}

.element-5 {
  background-color: #07a0c8;
  height: 62px;
  position: relative;
  width: 70px;
}

.element-5::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 9px;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  right: 9px;
  width: 30px;
}

.element-6 {
  border-bottom: 58px solid #07a0c8;
  border-left: 88px solid transparent;
  height: 0;
  width: 0;
}

.element-7 {
  background-color: #07a0c8;
  height: 81px;
  width: 25px;
}

.element-8 {
  background-color: #07a0c8;
  height: 29px;
  width: 34px;
}

.element-9 {
  background-color: #07a0c8;
  height: 81px;
  width: 81px;
}

.draggable {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
/*/game*/

.cta-landing {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.scroll-down {
  background-color: #070707;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 34px;
  margin-bottom: 10px;
  position: relative;
  width: 34px;
}

.scroll-down::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

/*uvp section*/
.uvp {
  margin: 0 15px 90px;
  padding-top: 80px;
}

.uvp-text {
  font-weight: 600;
  line-height: 1.3;
}

.triangle,
.square,
.circle {
  margin: 42px auto 42px;
}

.triangle {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #07a0c8;
  height: 0;
  width: 0;
}

.square {
  background-color: #07a0c8;
  height: 37px;
  width: 37px;
}

.circle {
  background-color: #07a0c8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;  height: 40px;
  width: 40px;
}

/*cta*/
.cta-projects {
  text-align: center;
}

.cta-projects a {
  text-transform: uppercase;
}

.go span {
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0 auto 17px;
  position: relative;
  width: 30px;
}

.go span::before,
.go span::after {
  background-color: #070707;
  content: '';
  display: block;
  height: 21px;
  position: absolute;
  width: 7px;
}

.go span::before {
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.go span::after {
  right: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*footer*/
.footer {
  margin: 70px 10px 17px;
  position: relative;
  text-align: center;
}

.top {
  position: absolute;
  right: 15px;
  top: 9px;
}

.top span {
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  width: 30px;
}

.top span::before,
.top span::after {
  background-color: #b9bbbe;
  content: '';
  display: block;
  height: 21px;
  position: absolute;
  width: 3px;
}

.top span::before {
  left: 7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top span::after {
  right: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social {
  margin-bottom: 17px;
}

/*-------G A L L E R Y -------*/
.gallery {
  padding-top: 70px;
}

.projects {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 15px;
}

.project {
  margin-bottom: 35px;
  position: relative;
}

.project a {
  display: block;
}

.gallery-image {
  height: 222px;
  margin-bottom: 17px;
  overflow: hidden;
  width: 100%;
}

.gallery-image img {
  height: auto;
  width: 100%;
}

.project-short-title,
.project-short {
  margin-left: 27px;
}

.project-short-title::before {
  background-color: #e6e6e6;
  content: '';
  display: block;
  height: 70px;
  left: 6px;
  position: absolute;
  top: 207px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
  width: 12px;
}

.project-short-title {
  margin-bottom: 5px;
}

.download {
  background-color: #070707;
  height: 22px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 44px;
}

.download a {
  color: #fff;
  display: block;
  height: 100%;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*-------S I N G L E  P R O J E C T-------*/
.project-page {
  margin: 0 15px;
  padding-top: 90px;
}

/*nav-top*/
.nav-top {
  margin-bottom: 20px;
}

.nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-item a {
  display: -webkit-flex;
  display: flex;
}

.nav-top-item a {
  color: #5f6061;
}

.nav-item span {
  display: block;
}

.prev,
.next {
  height: 30px;
  margin-top: -10px;
  position: relative;
  width: 20px;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 7px;
}

.top-prev::before,
.top-prev::after,
.top-next::before,
.top-next::after {
  background-color: #5f6061;
}

.prev::before,
.next::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.prev::after,
.next::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prev::before,
.prev::after {
  left: 6px;
}

.next::before,
.next::after {
  right: 6px;
}

.prev::after,
.next::after {
  bottom: 0;
}

.project-image {
  margin-bottom: 30px;
  width: 100%;
}

.project-image:last-child {
  margin-bottom: 0;
}

.project-image img {
  height: auto;
  width: 100%;
}

.project-description {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 42px;
  margin-top: 30px;
}

.project-title {
  margin-bottom: 10px;
}

.text {
  line-height: 1.5;
}

.project-download {
  border-bottom: 2px solid #070707;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 20px 0 30px;
}

.project-side {
  margin-bottom: 30px;
}

.project-map {
  background-color: grey;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.portrait {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.quote-left::before {
  background: url(../assets/quote.svg) no-repeat;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  margin-bottom: 3px;
  position: relative;
  top: 0;
  width: 23px;
}

.quote {
  margin-bottom: 30px;
}

/*nav-bottom*/
.nav-bottom {
  margin-top: 35px;
}

.bottom-prev::before,
.bottom-prev::after,
.bottom-next::before,
.bottom-next::after {
  background-color: #070707;
}

@media (min-width: 600px) {
  /*-------H E A D E R / L A N D I N G / F O O T E R 600-------*/

  /*header600*/
  /*uvp section600*/
  /*cta section600*/
  /*footer600*/

  /*-------G A L L E R Y 600-------*/
  .projects {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .project {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-image {
    width: 285px;
  }

  .gallery-image img {
    width: 285px;
  }
}

@media (min-width: 900px) {
  /*-------H E A D E R / L A N D I N G / F O O T E R 900-------*/

  /*header900*/
  /*game900*/
  .element-1 {
    border-bottom-width: 97px;
    border-right-width: 148px;
  }

  .element-2 {
    height: 48px;
    width: 53px;
  }

  .element-3 {
    height: 32px;
    width: 116px;
  }

  .element-4 {
    height: 48px;
    width: 136px;
  }

  .element-5 {
    height: 105px;
    width: 117px;
  }

  .element-5::after {
    bottom: 15px;
    height: 49px;
    right: 15px;
    width: 49px;
  }

  .element-6 {
    border-bottom-width: 97px;
    border-left-width: 148px;
  }

  .element-7 {
    height: 137px;
    width: 42px;
  }

  .element-8 {
    height: 48px;
    width: 57px;
  }

  .element-9 {
    height: 136px;
    width: 136px;
  }
  /*/game900*/

  /*uvp section900*/
  /*cta section900*/
  /*footer900*/

}

@media (min-width: 1200px) {
  /*-------H E A D E R / L A N D I N G / F O O T E R 1200-------*/

  /*header1200*/
  .header {
    height: 150px;
  }

  .header-narrow,
  .header-gallery {
    height: 70px;
  }

  .logo {
    display: block;
    margin-left: 22px;
  }

  .logo-small {
    display: none;
  }

  .header-gallery .logo-small {
    display: block;
    height: 50px;
    width: 52px;
  }

  .main-menu {
    margin-right: 22px;
  }

  .toggle {
    display: none;
  }

  .menu {
    background-color: transparent;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex !important;
    display: flex !important;
    height: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: static;
    width: auto;
  }

  .menu li {
    margin-bottom: 0;
    margin-right: 42px;
    margin-top: 0;
  }

  .menu li:first-child {
    margin-top: 0;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menuitem {
    font-size: 1.3em;
  }

  /*landing-section1200*/
  .landing {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 150px;
    position: relative;
  }

  /*game1200*/
  .game {
    height: 400px;
    margin: 2% auto 0;
    width: 620px;
  }

  .play {
    font-size: 3.7em;
    left: -110px;
    right: auto;
    top: 100px;
  }

  .element {
    margin: 0;
  }

  /*/game1200*/

  .cta-landing {
    position: relative;
  }

  .cta-title {
    bottom: 0;
    left: -285px;
    position: absolute;
  }

  .scroll-down {
    bottom: 35px;
    height: 62px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -31px;
    position: relative;
    width: 62px;
  }

  .scroll-down::after {
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
  }

  /*uvp section1200*/
  /*GRID*/
  .uvp {
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  .uvp::after {
    content: '';
    display: block;
  }

  .uvp-item {
    -ms-grid-column-align: center;
    align-self: center;
    margin-bottom: 0;
    position: relative;
  }

  .uvp-item::after {
    background-color: #e6e6e6;
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    z-index: -10;
  }

  .uvp-title {
    font-size: 10.7em;
  }

  .uvp-text {
    font-size: 2.7em;
  }

  .main {
    font-size: 3.7em;
  }

  .who-we-are {
    grid-column: 1;
    grid-row: 1;
  }

  .who-we-are::after {
    height: 727px;
    left: 531px;
    top: -291px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  .uvp div:nth-child(1),
  .uvp div:nth-child(3) {
    text-align: right;
  }

  .triangle,
  .square,
  .circle {
    position: absolute;
  }

  .triangle {
    border-left-width: 50px;
    border-right-width: 50px;
    border-top-width: 34px;
    left: -300px;
    margin: -17px 0 0;
    top: 50%;
  }

  .what-we-do {
    grid-column: 2;
    grid-row: 2;
  }

  .what-we-do::after {
    height: 487px;
    left: -15px;
    top: 34px;
    -webkit-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
    -ms-transform: rotate(-29deg);
    -o-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .square {
    height: 60px;
    margin: -30px 0 0;
    right: -300px;
    top: 50%;
    width: 60px;
  }

  .tools {
    grid-column: 1;
    grid-row: 3;
  }

  .tools::after {
    height: 470px;
    left: 589px;
    top: 105px;
    -webkit-transform: rotate(29deg);
    -moz-transform: rotate(29deg);
    -ms-transform: rotate(29deg);
    -o-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .circle {
    height: 64px;
    left: -300px;
    margin: -32px 0 0;
    top: 50%;
    width: 64px;
  }

  .why-us {
    grid-column: 2;
    grid-row: 4;
  }

  .why-us::after {
    height: 487px;
    left: -65px;
    top: 80px;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }

  /*cta1200*/
  .go span {
    height: 44px;
    margin: 0 auto 27px;
    width: 64px;
  }

  .go span::before,
  .go span::after {
    height: 44px;
    width: 17px;
  }

  .go span::before {
    left: 14px;
  }

  .go span::after {
    right: 14px;
  }

  .cta-projects {
    font-size: 4.7em;
  }

  /*footer1200*/
  .footer {
    margin: 190px auto 27px;
    width: 1200px;
  }

  .top {
    right: 0;
    top: -220px;
  }

  .top span {
    margin: 0 0 0;
  }

  .top span::before,
  .top span::after {
    width: 7px;
  }

  .top span::before {
    left: 6px;
  }

  .top span::after {
    right: 6px;
  }

  .social {
    margin-bottom: 35px;
  }

  /*-------G A L L E R Y 1200-------*/
  /*dev*/.menu-projects {
  font-weight: 600;
  }

  .gallery {
    padding-top: 150px;
  }

  .projects {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1200px;
  }

  .project {
    margin-left: 0;
    margin-right: 20px;
  }

  .project:nth-child(4n) {
    margin-right: 0;
  }

  /*-------S I N G L E  P R O J E C T 1200-------*/
  .project-page {
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
  }

  /*nav-top1200*/
  .top-prev,
  .top-next {
    width: 30px;
  }

  .project-image {
    max-height: 700px;
    max-width: 1200px;
  }

  .project-description {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 70px;
    margin-top: 90px;
  }

  .project-main {
    -webkit-flex: 2 2;
    flex: 2 2;
    margin-right: 20px;
  }

  .project-title {
    font-size: 3.7em;
    margin-bottom: 60px;
  }

  .project-download {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .project-side {
    margin: 12px 20px 0 0;
    width: 286px;
  }

  .project-map {
    background-color: grey;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 286px;
    margin: 0;
    width: 286px;
  }

  .project-image-portrait {
    max-height: 700px;
    max-width: 590px;
  }

  .portrait {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .quote-left::before {
    left: -42px;
    margin-bottom: 0;
    top: 22px;
  }

  .quote {
    font-size: 3.7em;
    margin-bottom: 0;
    margin-top: 100px;
    max-width: 387px;
    position: relative;
  }

  .quote-left {
    margin-left: 120px;
  }

  /*nav-bottom1200*/
  .nav-bottom {
    margin-top: 110px;
  }

  .nav-bottom-item {
    font-size: 1.7em;
  }

  .bottom-prev,
  .bottom-next {
    height: 57px;
    margin-top: -21px;
    width: 50px;
  }

  .bottom-prev::before,
  .bottom-prev::after,
  .bottom-next::before,
  .bottom-next::after {
    height: 38px;
    width: 12px;
  }

  .bottom-prev::before,
  .bottom-prev::after {
    left: 12px;
  }

  .bottom-next::before,
  .bottom-next::after {
    right: 12px;
  }
}

@media (min-width: 1800px) {

  /*header1800*/
  /*landing section1800*/
  /*game1800*/
  /*uvp section1800*/
  /*cta1800*/
  /*footer1800*/

}
