body {
  background: #16528E;
  }

.container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 500px;
}

.row {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.row-1,
.row-3 {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.row-4 {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.row-2 {
  -webkit-justify-content: center;
  justify-content: center;
}

.draggable {
  background-color: #fafafa;
  border-radius: 2px;
  height: 60px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  width: 110px;
}

.drag-1 {
  height: 42px;
  width: 42px;
}

.drag-2 {
  height: 130px;
  width: 35px;
}

.drag-3 {
  height: 65px;
  width: 40px;
}

.drag-4 {
  height: 17px;
  width: 17px;
}

.drag-5 {
  height: 22px;
  width: 90px;
  margin-right: 50px;
}

.drag-6 {
  height: 22px;
  margin-right: 22px;
  width: 22px;
}

.drag-7 {
  height: 42px;
  margin-right: 15px;
  width: 160px;
}

.drag-8 {
  height: 70px;
  width: 20px;
}

.drag-9 {
  height: 80px;
  width: 37px;
}

.drag-10 {
  height: 12px;
  width: 100px;
}

.drag-11 {

  height: 130px;
  width: 45px;
}

.drag-12 {
  height: 42px;
  width: 57px;
}

.drag-13 {
  height: 68px;
  width: 68px;
}

.drag-14 {
  height: 100px;
  width: 25px;
}

.drag-15 {
  height: 23px;
  width: 72px;
}

.drag-16 {
  height: 42px;
  width: 145px;
}
