html {
	font-size: 62.5%;
}

body {
  color: #070707;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.7em;
  font-weight: 800;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1.7em;
}

a {
  color: #070707;
  text-decoration: none;
}

/*flex containers*/
.header,
.landing {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/*header*/
.header {
  background-color: #fff;
  height: 50px;
  position: fixed;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 10;
}

.branding {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 9999;
}

.logo {
  display: none;
}

.logo-small {
  margin-left: 15px;
}

/*menu*/
.main-menu {
  margin-right: 15px;
}

.toggle,
.menuopen span::before,
.menuopen span::after {
  z-index: 999;
}

.toggle span,
.menuopen span {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  height: 7px;
  position: relative;
}

.menuopen span {
  width: 44px;
}

.toggle span {
  background-color: #070707;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
  width: 37px;
}

.toggle span::before,
.toggle span::after {
  background-color: #070707;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 7px;
  position: absolute;
  width: 37px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
}

.toggle span::before {
  top: -13px;
}

.toggle span::after {
  bottom: -13px;
}

.menuopen span {
  background-color: transparent;
  -webkit-transition: background-color .7s ease;
  -moz-transition: background-color .7s ease;
  -ms-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
}

.menuopen span::before,
.menuopen span::after {
  background-color: #070707;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  content: ' ';
  display: block;
  height: 7px;
  position: absolute;
  width: 44px;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
}

.menuopen span::before {
  -webkit-transform: translateY(13px) rotateZ(45deg);
  -moz-transform: translateY(13px) rotateZ(45deg);
  -ms-transform: translateY(13px) rotateZ(45deg);
  -o-transform: translateY(13px) rotateZ(45deg);
  transform: translateY(13px) rotateZ(45deg);
}

.menuopen span::after {
  -webkit-transform: translateY(-13px) rotateZ(-45deg);
  -moz-transform: translateY(-13px) rotateZ(-45deg);
  -ms-transform: translateY(-13px) rotateZ(-45deg);
  -o-transform: translateY(-13px) rotateZ(-45deg);
  transform: translateY(-13px) rotateZ(-45deg);
}

.menu {
  background-color: #fff;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu li {
  margin-bottom: 17px;
  margin-top: 17px;
}

.menu li:first-child {
  margin-top: 42%;
}

.menuitem {
  font-size: 2.2em;
  text-transform: uppercase;
}

/*landing section*/
.landing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  padding-top: 50px;
  width: 100%;
  z-index: 1;
}

/*game*/
.game {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 70%;
  margin-top: 7%;
  width: 100%;
}

.play {
  color: #5f6061;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.2em;
  margin-right: 35px;
  text-align: right;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.elements {
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.row {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

.row-1,
.row-3 {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.row-2 {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.element {
  margin: 10px;
}

.element-1 {
  border-bottom: 58px solid #07a0c8;
  border-right: 88px solid transparent;
  height: 0;
  width: 0;
}

.element-2 {
  background-color: #07a0c8;
  height: 29px;
  width: 32px;
}

.element-3 {
  background-color: #07a0c8;
  height: 19px;
  width: 69px;
}

.element-4 {
  background-color: #07a0c8;
  height: 29px;
  width: 81px;
}

.element-5 {
  background-color: #07a0c8;
  height: 62px;
  position: relative;
  width: 70px;
}

.element-5::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 9px;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  right: 9px;
  width: 30px;
}

.element-6 {
  border-bottom: 58px solid #07a0c8;
  border-left: 88px solid transparent;
  height: 0;
  width: 0;
}

.element-7 {
  background-color: #07a0c8;
  height: 81px;
  width: 25px;
}

.element-8 {
  background-color: #07a0c8;
  height: 29px;
  width: 34px;
}

.element-9 {
  background-color: #07a0c8;
  height: 81px;
  width: 81px;
}

.draggable {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
/*/game*/

.cta-landing {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.scroll-down {
  background-color: #070707;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 34px;
  margin-bottom: 10px;
  position: relative;
  width: 34px;
}

.scroll-down::after {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

/*uvp section*/
.uvp {
  margin: 0 15px 90px;
  padding-top: 80px;
}

.uvp-text {
  font-size: 1.7em;
  font-weight: 600;
  line-height: 1.3;
}

.triangle,
.square,
.circle {
  margin: 42px auto 42px;
}

.triangle {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #07a0c8;
  height: 0;
  width: 0;
}

.square {
  background-color: #07a0c8;
  height: 37px;
  width: 37px;
}

.circle {
  background-color: #07a0c8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;  height: 40px;
  width: 40px;
}

/*cta*/
.cta-projects {
  text-align: center;
}

.cta-projects a {
  text-transform: uppercase;
}

.next span {
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0 auto 17px;
  position: relative;
  width: 30px;
}

.next span::before,
.next span::after {
  background-color: #070707;
  content: '';
  display: block;
  height: 21px;
  position: absolute;
  width: 7px;
}

.next span::before {
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.next span::after {
  right: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*footer*/
.footer {
  margin: 100px 10px 17px;
  text-align: center;
}

.top span {
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0 auto 22px;
  position: relative;
  width: 30px;
}

.top span::before,
.top span::after {
  background-color: #5f6061;
  content: '';
  display: block;
  height: 21px;
  position: absolute;
  width: 7px;
}

.top span::before {
  left: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top span::after {
  right: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social {
  margin-bottom: 25px;
}

.copyright {
  font-size: 1.2em;
}

@media (min-width: 600px) {

  /*header600*/
  /*uvp section600*/
  /*cta section600*/
  /*footer600*/

}

@media (min-width: 900px) {

  /*header900*/
  /*game900*/
  .element-1 {
    border-bottom-width: 97px;
    border-right-width: 148px;
  }

  .element-2 {
    height: 48px;
    width: 53px;
  }

  .element-3 {
    height: 32px;
    width: 116px;
  }

  .element-4 {
    height: 48px;
    width: 136px;
  }

  .element-5 {
    height: 105px;
    width: 117px;
  }

  .element-5::after {
    bottom: 15px;
    height: 49px;
    right: 15px;
    width: 49px;
  }

  .element-6 {
    border-bottom-width: 97px;
    border-left-width: 148px;
  }

  .element-7 {
    height: 137px;
    width: 42px;
  }

  .element-8 {
    height: 48px;
    width: 57px;
  }

  .element-9 {
    height: 136px;
    width: 136px;
  }
  /*/game900*/

  /*uvp section900*/
  /*cta section900*/
  /*footer900*/

}

@media (min-width: 1200px) {

  /*header1200*/
  .header {
    height: 150px;
  }

  .header-narrow {
    height: 60px;
  }

  .logo {
    display: block;
    margin-left: 22px;
  }

  .logo-small {
    display: none;
  }

  .main-menu {
    margin-right: 22px;
  }

  .toggle {
    display: none;
  }

  .menu {
    background-color: transparent;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex !important;
    display: flex !important;
    height: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: static;
    width: auto;
  }

  .menu li {
    margin-bottom: 0;
    margin-right: 42px;
    margin-top: 0;
  }

  .menu li:first-child {
    margin-top: 0;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menuitem {
    font-size: 1.4em;
  }

  /*landing-section1200*/
  .landing {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 150px;
    position: relative;
  }

  /*game1200*/
  .game {
    height: 400px;
    margin: 2% auto 0;
    position: relative;
    width: 620px;
  }

  .play {
    font-size: 3.7em;
    left: -110px;
    margin-right: 0;
    position: absolute;
    text-align: right;
    top: 100px;
  }

  .element {
    margin: 0;
  }

  /*/game1200*/

  .cta-landing {
    position: relative;
  }

  .cta-title {
    bottom: 0;
    left: -285px;
    position: absolute;
  }

  .scroll-down {
    bottom: 35px;
    height: 62px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -31px;
    position: relative;
    width: 62px;
  }

  .scroll-down::after {
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
  }

  /*uvp section1200*/
  /*GRID*/
  .uvp {
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  .uvp::after {
    content: '';
    display: block;
  }

  .uvp-item {
    -ms-grid-column-align: center;
    align-self: center;
    margin-bottom: 0;
    position: relative;
  }

  .uvp-item::after {
    background-color: #e6e6e6;
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    z-index: -10;
  }

  .uvp-title {
    font-size: 10.7em;
  }

  .uvp-text {
    font-size: 2.7em;
  }

  .main {
    font-size: 3.7em;
  }

  .who-we-are {
    grid-column: 1;
    grid-row: 1;
  }

  .who-we-are::after {
    height: 727px;
    left: 530px;
    top: -291px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  .uvp div:nth-child(1),
  .uvp div:nth-child(3) {
    text-align: right;
  }

  .triangle,
  .square,
  .circle {
    position: absolute;
  }

  .triangle {
    border-left-width: 50px;
    border-right-width: 50px;
    border-top-width: 34px;
    left: -300px;
    margin: -17px 0 0;
    top: 50%;
  }

  .what-we-do {
    grid-column: 2;
    grid-row: 2;
  }

  .what-we-do::after {
    height: 487px;
    left: -15px;
    top: 34px;
    -webkit-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
    -ms-transform: rotate(-29deg);
    -o-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .square {
    height: 60px;
    margin: -30px 0 0;
    right: -300px;
    top: 50%;
    width: 60px;
  }

  .tools {
    grid-column: 1;
    grid-row: 3;
  }

  .tools::after {
    height: 470px;
    left: 589px;
    top: 105px;
    -webkit-transform: rotate(29deg);
    -moz-transform: rotate(29deg);
    -ms-transform: rotate(29deg);
    -o-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .circle {
    height: 64px;
    left: -300px;
    margin: -32px 0 0;
    top: 50%;
    width: 64px;
  }

  .why-us {
    grid-column: 2;
    grid-row: 4;
  }

  .why-us::after {
    height: 480px;
    left: -65px;
    top: 80px;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }


  /*cta1200*/
  .next span {
    height: 44px;
    margin: 0 auto 27px;
    width: 64px;
  }

  .next span::before,
  .next span::after {
    height: 44px;
    width: 17px;
  }

  .next span::before {
    left: 14px;
  }

  .next span::after {
    right: 14px;
  }

  .cta-projects {
    font-size: 4.7em;
  }

  /*footer1200*/
  .footer {
    margin: 190px auto 27px;
    position: relative;
    width: 1200px;
  }

  .top {
    position: absolute;
    right: 0;
    top: -220px;
  }

  .top span {
    margin: 0 0 0;
  }

  .social {
    margin-bottom: 35px;
  }
}

@media (min-width: 1800px) {

  /*header1800*/
  /*landing section1800*/
  /*game1800*/
  /*uvp section1800*/
  /*cta1800*/
  /*footer1800*/

}
